<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678299702793-bmgbq5089p2ttopm0ce5unhb9967t2cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678299702793-bmgbq5089p2ttopm0ce5unhb9967t2cj</string>
	<key>API_KEY</key>
	<string>AIzaSyDSnFre_K8X5MHdW7A8Fqfj0lW2mp6XCTM</string>
	<key>GCM_SENDER_ID</key>
	<string>678299702793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdg.gdgflutterfirebasechat</string>
	<key>PROJECT_ID</key>
	<string>gdgflutterfirebasechat</string>
	<key>STORAGE_BUCKET</key>
	<string>gdgflutterfirebasechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678299702793:ios:aa1753c8345bd1efb18ad8</string>
	<key>DATABASE_URL</key>
	<string>https://gdgflutterfirebasechat.firebaseio.com</string>
</dict>
</plist>